/* 초기화 S */
.layout_width {
	width: 1200px;
	margin: 0 auto !important;
}

body {
	margin: 0;
	padding: 84px 0 0;
	min-height: 3000px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	margin: 0;
	padding: 0;
	color: #000000;
}

/* 초기화 E */
.top_banner {
	text-align: center;
	
}

.top_banner .wrap {
	position: fixed;
	z-index: 10;
	width: 100%; 
	top: 0;
	left: 0;
	background-color: #ffffff;
}

.top_banner .wrap > .inner {
	width: 1200px; 
	margin: 0 auto;
}
/* 추가 E */

.top_banner .box1 {
	height: 20px;
	border: 1px solid red;
	margin-top: 10px;
	background-color: #ffffff;
}

nav {
	margin-top: 10px;
	background-color: #ffffff;
}

nav .main_menu {
	border: 1px solid blue;
}

nav .main_menu li {
	display: inline-block;
	margin-right: 30px;
	padding-left: 30px;
	height: 30px;
	line-height: 30px;
}

.rolling_banner {
	border: 1px solid green;
	height: 300px;
	background-color: #888888;
}
