@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/* 공통 속성 S */
* {
	font-family: 'Noto Sans KR', sans-serif;
	color: #333333;
	box-sizing: border-box;
	outline: none;
}

html {
	font-size: 12px;
}

body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration : none;
}

ul {
	list-style: none;
	padding: 0;
	margin : 0;
}

.layout_width {
	width: 1050px;
	margin: 0 auto !important;
}

article .title {
	font-size: 2.333rem;
	line-height: 2.667rem;
	font-weight: 500;
	text-align: center;
	margin-bottom: 30px;
}
/* 공통 속성 E */

/* 공통 상품 스타일 S */
.goods_style {
	margin-bottom: 70px;
}

.goods_style .goods_list {
	position: relative;
}

.goods_style .goods .photo {
	height: 320px;
	overflow: hidden;
	margin-bottom: 13px;
}

.goods_style .goods .photo .inner {
	height: 320px;
	background-size: cover;
	transition: all 1.5s;
}

.goods_style .goods .photo .inner:hover {
	transform: scale(1.2);
}

.goods_style .goods .goodsnm {
	font-size: 1.333rem;
	line-height: 1.917rem;
	margin-bottom: 9px;
}

.goods_style .goods .discount {
	font-size: 1.333rem;
	line-height: 1.667rem;
	color: #fa622f;
	font-weight: 500;
	padding-right: 8px;
}

.goods_style .goods .price {
	font-size: 1.333rem;
	line-height: 1.667rem;
	font-weight: 500;
}

.goods_style .goods .consumer {
	font-size: 1.167rem;
	line-height: 1.5rem;
	color: #999999;
	text-decoration: line-through;
}

.goods_style .navi {
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background-color: #ffffff;
	text-align: center;
	position: absolute;
	z-index: 10;
	top: 132px;
	cursor: pointer;
	box-shadow: 0 0 3px #d5d5d5;
	transition: all 1.5s;
}

.goods_style .navi:hover {
	box-shadow: 0 0 5px #666666;
}

.goods_style .navi:hover i {
	color: #5f0080;
}

.goods_style .navi.prev {
	left: calc(50% - 550px);	
}

.goods_style .navi.next {
	right: calc(50% - 550px);
}

.goods_style .navi i {
	color: #000000;
	font-size: 1.75rem;
	margin-top: 15px;
}
/* 공통 상품 스타일 E */


/* 탑 배너 영역 S */
.top_banner {
	display: block;
	height: 42px; 
	background-color: #5f0080;
	color: #ffffff;
	text-align: center;
	line-height: 42px;
	font-size: 1.167rem;
	min-width: 1050px;
}

.top_banner * {
	color: #ffffff;
}

.top_banner .inner {
	position: relative;
}

.top_banner .xi-close-thin {
	position: absolute;
	right: 0;
	top: 9px;
	font-size: 22px;
}
/* 탑 배너 영역 E */

/* 탑 메뉴 영역 S */
.top_menu .box {
	padding: 8px 0;
}
.top_menu .box1 {
	float: left;
}

.top_menu .box2 {
	float: right;
}

.top_menu:after {
	clear: both;
	display: block;
	content: '';
}

.top_menu .box1 img {
	height: 22px;
}

.top_menu .box2 li {
	display: inline;
	padding: 0 10px; 
	position: relative;
}

.top_menu .box2 li:after { /* 구분 막대 */
	content: '';
	display: block;
	width: 1px; 
	height: 13px;
	background-color: #d8d8d8;
	position: absolute;
	right: 0;
	top: 3px;
}

.top_menu .box2 li.last {
	padding-right: 0;
}

.top_menu .box2 li.last:after {
	display: none;
}

.top_menu .box2 a {
	color: #333333;
}

.top_menu .box2 li:first-child a {
	color: #5f0080;
}
/* 탑 메뉴 영역 E */

/* 로고 영역 S */
.logo_wrap {
	text-align: center;
}

.logo_wrap .logo {
	height: 79px; 
}
/* 로고 영역 E */

/* 메인메뉴, 검색 영역 S */
nav {
	box-shadow: 1px 1px 3px #f2f2f2;
}

nav .main_menu {
	float: left;
}

nav .search_box {
	float: right;
}

nav .icon_menu { 
	float: right;
}

nav > .inner:after {
	clear: both;
	content: '';
	display: block;
}

nav .main_menu li {
	float: left;
}

nav .main_menu:after {
	clear: left;
	content: '';
	display: block;
}

nav .main_menu li a,
nav .main_menu li span {
	display: block;
	font-size: 1.333rem;
	width: 124px;
	height: 55px;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
	line-height: 55px;
}

nav .main_menu li a:hover {
	color: #5f0080;
	text-decoration: underline;
}
nav .main_menu li span:hover, 
nav .main_menu li span:hover .xi-bars {
	color: #5f0080;
}

nav .main_menu .all_category i {
	font-size: 1.85rem;
	vertical-align: middle;
	position: relative;
	top: -2px;
}

nav .icon_menu {
	margin-top: 12px;
}
nav .icon_menu i {
	font-size: 2.5rem;
}

nav .icon_menu a:last-child {
	margin-left: 10px;
}

nav .search_box {
	margin-right: 20px;
	margin-top: 9px;
}

nav .search_box input[type='text'] {
	position: absolute;
	left: 0;
	top: 0;
	height: 34px;
	width: 100%;
	border: 0;
	background-color: transparent;
	border-radius: 18px;
	outline: none;
	color: #666666;
	text-indent: 15px;
	padding-right: 50px;
}

nav .search_box input[type='text']:focus {
	background-color: #ffffff;
}

nav .search_box .search_btn {
	width: 30px; 
	height: 30px;
	position: absolute;
	right: 2px;
	top: 2px;
}

nav .search_box .inner {
	width: 242px;
	height: 36px;
	border: 1px solid #f7f7d6;
	background-color: #f7f7f7;
	border-radius: 18px;
	position: relative;
}
/* 메인메뉴, 검색 영역 E */

/* 메인 배너 영역 S */
.main_banner { 
	position: relative; 
	margin-bottom: 70px;
}
.main_banner .banner {
	height: 370px;
	background:url("../image/banner.png") no-repeat center center;
	background-size: cover;
}

.main_banner .navi {
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background-color: #000000;
	text-align: center;
	position: absolute;
	z-index: 10;
	top: 159px;
	cursor: pointer;
	opacity: 0;
	transition: all 2s;
}

.main_banner:hover .navi {
	opacity: 0.3;
}

.main_banner .navi.prev {
	left: calc(50% - 550px);	
}

.main_banner .navi.next {
	right: calc(50% - 550px);
}

.main_banner .navi i {
	color: #ffffff;
	font-size: 1.75rem;
	margin-top: 15px;
}

/* 메인 배너 영역 E */

/* 상품 진열 영역 S */
.goods_display .goods_rolling .title {
	font-size: 2.333rem;
	line-height: 2.667rem;
	font-weight: 500;
	text-align: center;
	letter-spacing: -0.3px;
	margin-bottom: 30px;
}

.goods_rolling .goods .photo .inner {
	background:url("../image/goods.jpg") no-repeat center center;
	background-size: cover;
}

/* 상품 진열 영역 E */

/* 이벤트 소식 영역 S */
.event_news {
	background-color: #f7f7f7;
	padding: 79px 0 35px;
	margin-bottom: 120px;
}

.event_news .title i {
	font-size: 2.08rem;
	font-weight: 700;
}

.event_news .goods_list .goods {
	float: left;
	width: calc(100% / 3 - 12px);
	margin-left: 18px;
	display: block;
}

.event_news .goods_list .goods:first-child {
	margin-left: 0;
}

.event_news .goods_list:after {
	clear: left; 
	display: block;
	content: '';
}
.event_news .goods .photo {
	height: 338px;
	overflow: hidden;
	margin-bottom: 18px;
}

.event_news .goods .photo .inner {
	height: 338px;
	transition: all 1.5s;
}

.event_news .goods .photo:hover .inner {
	transform: scale(1.2);
}

.event_news .goods:nth-child(1) .photo .inner {
	background:url("../image/small1.jpg") no-repeat center center;
	background-size: cover;
}

.event_news .goods:nth-child(2) .photo .inner {
	background:url("../image/small2.jpg") no-repeat center center;
	background-size: cover;
}

.event_news .goods:nth-child(3) .photo .inner {
	background:url("../image/small3.jpg") no-repeat center center;
	background-size: cover;
}

.event_news .goods .goodsnm {
	font-size: 1.5rem;
	line-height: 2.333rem;
	font-weight: 500;
	letter-spacing: -0.3px;
	text-align: center;
}

.event_news .goods .desc {
	font-size: 1.333rem;
	line-height: 1.667rem;
	color: #999999;
	text-align: center;
}
/* 이벤트 소식 영역 E */

/* MD 추천 영역 S */
.md_choice .categories {
	text-align: center;
	margin-bottom: 25px;
}

.md_choice .categories li {
	display: inline-block;
	font-size: 1.167rem;
	padding: 10px 20px;
	background-color: #f7f7f7;
	border: 1px solid #f7f7f6;
	border-radius: 20px;
	margin: 0 10px 15px;
	cursor: pointer;
}

.md_choice .categories li:hover {
	background-color: #5f0080;
	border: 1px solid #5f0080;
	color: #ffffff;
}

.md_choice .photo .inner {
	background:url("../image/goods2.png") no-repeat center center;
}

.md_choice .go_link {
	display: block;
	width: 516px;
	height: 56px;
	margin: 60px auto 100px;
	border: 1px solid #e3e3e3;
	font-size: 1.333rem;
	text-align: center;
	letter-spacing: -0.3px;
	border-radius: 3px;
	line-height: 54px;
}

.md_choice .banner_link {
	display: block;
	background-color: rgb(249, 234, 234);
}

.md_choice .banner_link .inner {
	padding: 35px 50px;
}

.md_choice .banner_link .text1 {
	font-size: 2.333rem;
	line-height: 3.167rem;
	color: rgb(106, 38, 38);
	font-weight: 500;
}

.md_choice .banner_link .text2 {
	font-size: 1.333rem;
	line-height: 2rem;
	color: rgb(106, 38, 38);
}
/* MD 추천 영역 E */

footer { 
	margin-top: 100px;
}

/* Footer 배너 영역 S */
.footer_banner {
	display: block;
}

.footer_banner img {
	width: 100%;
	display: block;
}
/* Footer 배너 영역 E */

/* Footer CS, 회사 정보 S */
.footer_info {
	border-top: 1px solid #f2f2f2;
	padding: 20px 0 40px;
}

.footer_info .box_wrap {
	padding-bottom: 20px;
	border-bottom: 1px solid #f2f2f2;
}

.footer_info .box_wrap .box {
	width: calc(100% / 2);
}

.footer_info .box_wrap > .box1 {
	float: left;
}

.footer_info .box_wrap > .box2 {
	float: right;
}

.footer_info .box_wrap:after {
	clear: both;
	display: block;
	content: '';
}


.footer_info .title {
	font-size: 1.667rem;
	line-height: 2rem;
	font-weight: 500;
	color: #333333;
	margin-bottom: 25px;
}

.footer_info .box1 dl,
.footer_info .box1 dt,
.footer_info .box1 dd {
	padding: 0; 
	margin: 0;
}

.footer_info .box1 dl {
	display: table;
	margin-bottom: 15px;
}

.footer_info .box_wrap .box1 dt {
	display: table-cell;
	vertical-align: middle;
	width: 140px;
}

.footer_info .box_wrap .box1 dd {
	display: table-cell;
	vertical-align: middle;
	padding-left: 13px;
}

.footer_info .cs_tel dt { 
	font-size: 2.333rem;
	line-height: 3rem;
	font-weight: 700;
	letter-spacing: -0.5px;
}

.footer_info .cs_btn .btn {
	display: block;
	height: 40px;
	font-size: 1.167rem;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	text-align: center;
	line-height: 38px;
}

.footer_info dd .text {
	font-size: 1.167rem;
	line-height: 1.833rem;
	letter-spacing: -0.2px;
}

.footer_info dd .text2 {
	color: #999999;
}


.footer_menu {
	margin-bottom: 25px;
}

.footer_menu li {
	display: inline;
}

.footer_menu li a {
	font-size: 1.167rem;
	padding-right: 13px;
}

.footer_menu li a.bold {
	font-weight: 500;
}

.footer_info .company_info {
	color: #999999;
	line-height: 1.667rem;
}

.footer_info .company_info a {
	color: #5f0080;
}

.footer_info .company_info .copyright {
	font-size: 0.833rem;
	line-height: 1.833rem;
	color: #949296;
	margin-top: 16px;
}

.footer_info .sns_btns {
	margin-top: 14px;
}
.footer_info .sns_btns img {
	width: 30px;
}
.footer_info .sns_btns a {
	margin-right: 10px;
}

.payment_info dl, 
.payment_info dt, 
.payment_info dd {
	padding: 0;
	margin: 0;
}

.payment_info dl {
	display: table;
	float: left;
	margin-right: 35px;
	margin-top: 20px;
}

.payment_info:after {
	clear: left; 
	display: block;
	content: '';
}

.payment_info dt {
	display: table-cell;
	vertical-align: middle;
	width: auto;
}

.payment_info dd {
	display: table-cell;
	vertical-align: middle;
	font-size: 0.833rem;
	line-height: 1.333rem;
	color: #999999;
	letter-spacing: -0.5px;
}

.payment_info dt img {
	height: 34px;
	margin-right: 10px;
}

/* Footer CS, 회사 정보 E */

/* 퀵 메뉴 S */

.quick_menu {
	position: fixed;
	right: 0;
	top: calc(50% - 107px);
	z-index: 10;
}

.quick_menu .delivery_guide {
	display: block;
	margin-bottom: 8px;
}

.quick_menu .delivery_guide img {
	width: 80px;
	display: block;
}

.quick_menu .menu a {
	display: block;
	height: 29px;
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-top: 0;
	line-height: 28px;
}

.quick_menu .menu li:first-child a {
	border-top: 1px solid #dddddd;
	line-height: 27px;
}

@media all and (max-width: 1200px) {
	.quick_menu {
		display: none;
	}
}

/* 퀵 메뉴 E */