@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

/* 초기화, 공통 속성 영역 S */
* {
	font-family: 'Noto Sans KR', sans-serif;
	color: #333333;
	box-sizing: border-box;
}

html {
	font-size: 14px;
}

body {
	margin: 0;
	padding: 0;
}

.layout_width {
	width: 1200px;
	margin: 0 auto !important;
}
a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* 상품 진열 영역 공통 속성 S */

.goods_list .title {
	line-height: 1;
	text-align: left;
	margin: 0 auto 25px;
}
.goods_list .title .text1 {
	font-size: 2.857rem;
	font-weight: 600;
	margin: 0 0 12px 8px;
	color: #000000;
	letter-spacing: -1px;
}

.goods_list .title .text2 {
	font-size: 1.357rem;
	color: #808080;
	line-height: 200%;
	margin: 0 0 10px 8px;
}

.goods_list .goods_list .box {
	float: left;
	width: calc(100% / 4 - 8px);
	margin-left: 10px;
	margin-bottom: 65px;
	display: block;
}

.goods_list .goods_list .box:nth-child(4n+1) {
	margin-left: 0;
}

.goods_list .goods_list:after {
	clear: left;
	display: block;
	content: '';
}

.goods_list .goods_list .box .desc {
	padding: 15px 0 4px 5px;
	color: #777777;
	font-size: 0.928rem;
}

.goods_list .goods_list .box .goodsnm {
	padding: 0 0 0 5px;
	font-size: 1.142rem;
	color: #101010;
}

.goods_list .goods_list .box .price {
	line-height: 1.6;
	font-size: 1.142rem;
	padding: 0 0 5px 5px;
	font-weight: 600;
}

.goods_list .goods_list .box .review {
	color: #888888;
	font-size: 0.89rem;
	padding-left: 5px;
}

.goods_list .goods_list {
	margin-bottom: 45px;
}

/* 상품 진열 영역 공통 속성 E */

/* 전체보기 버튼 공통 속성 S */
.goods_list .all_list {
	text-align: center;
	margin-bottom: 50px;
}

.goods_list .all_list a {
	display: inline-block;
	font-size: 1.42rem;
	padding: 20px 70px;
	border: 1px solid #cccccc;
	border-radius: 40px;
	color: #333333;
}

.goods_list .all_list a:hover {
	background-color: #1e1a34;
	color: #ffffff;
	transition: all 0.3s ease-in-out;
}
/* 전체보기 버튼 공통 속성 S */

/* 초기화, 공통 속성 영역 E */

/* 탑 배너 영역 S */
.top_banner {
	display: block;
	height: 50px;
	background-color: #1e1a34;
	text-align: center;
	line-height: 50px;
	font-size: 1.142rem;
}

.top_banner * {
	color: #ffffff;
}

.top_banner .inner {
	position: relative;
}

.top_banner .inner .c_icon {
	position: absolute;
	display: block;
	top: 6px;
	bottom: 0;
	right: 15px;
	font-size: 2.8rem;
}
/* 탑 배너 영역 E */

/* 탑 메뉴, 로고 영역 S */
.top_menu .inner {
	float: right;
}

.top_menu .inner li {
	float: left;
	height: 35px;
	line-height: 35px;
}

.top_menu:after {
	clear: right;
	display: block;
	content: '';
}

.top_menu li a {
	font-size: 0.857rem;
	color: #555555;
	padding: 0 7px;
}

.logo_wrap {
	text-align: center;
	padding: 0 0 12px;
}

.logo_wrap .logo {
	width: 72px;
}

/* 탑 메뉴, 로고 영역 E */

/* 메인 메뉴 영역 S */
/* 메인 메뉴 카테고리 */
.gnb {
	border: 1px solid #dddddd;
	height: 56px;
	line-height: 54px;
}

.gnb .gnb_wrap .box1 {
	float: left;
	width: 200px;
	line-height: 54px;
	text-align: center;
}

.gnb .gnb_wrap .box1 a {
	display: block;
}

.gnb .gnb_wrap .box1:first-child {
	height: 54px;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}

.gnb .gnb_wrap .box1 .xi-bars {
	font-size: 2rem;
}

.gnb .all_category {
	line-height: 54px;
	font-size: 1.142rem;
	font-weight: 600;
	color: #1e1a34;
	cursor: pointer;
}

.gnb .all_category i {
	vertical-align: middle;
	position: relative;
	top: -3px;
	right: 8px;
}


.gnb .gnb_wrap .box2 {
	float: left;
	width: calc(100% - 460px);
}

.gnb .gnb_wrap .box2 li {
	display: inline-block;
	width: calc(100% / 5 - 5px);
	font-size: 1.07rem;
	text-align: center;
}

.gnb .gnb_wrap .box2 .a_left {
	float: left;
	display: block;
	color: #dddddd;
}

.gnb .gnb_wrap .box2 a:last-child {
	color: #888888;
}


.gnb .gnb_wrap .box3 {
	float: right;
}

.gnb:after {
	clear: both;
	display: block;
	content: '';
}

/* 검색창 */
.gnb_wrap .box3 .search_box {
	float: right;
	width: 100%;
	height: 40px;
	border: 2px solid #1e1a34;
	border-radius: 20px;
	padding-left: 20px;
	margin-top: 6px;
}

nav .box3 input[type="text"] {
	float: left;
	width: calc(100% - 50px);
	border: 0;
	margin-top: 8px;
	color: #1e1a34;
}

nav .box3 input[type="text"]:focus {
	outline: none;
}

nav .box3 input[type="img"] {
	float: right;
	width: 35px;
}

nav .box3:after {
	clear: borh;
	display: block;
	content: '';
}
/* 메인 메뉴 영역 E */

/* 메인 배너 영역 S */
.main_banner {
	margin-bottom: 70px;
}

.main_banner .swiper-wrapper .swiper-slide {
	height: 460px;
}

/* 메인 배너 영역 E */

/* 배송 정보 영역 S */
.delivery .delivery_wrap {
	margin-bottom: 90px;
}

.delivery .delivery_wrap .box {
	float: left;
	width: 590px;
	display: block;
}

.delivery .delivery_wrap:after {
	clear: left;
	display: block;
	content: '';
}

.delivery .delivery_wrap .box1 {
	margin-right: 20px;
}

/* 배송 정보 영역 E */
/* 신제품 영역 S */
.goods_newlist .goods_list .box1 .inner {
	background: url("../image/new_goods1.jpg") no-repeat center center;
	height: 288px;
	background-size: cover;
}

.goods_newlist .goods_list .box2 .inner {
	background: url("../image/new_goods2.jpg") no-repeat center center;
	height: 288px;
	background-size: cover;
}

.goods_newlist .goods_list .box3 .inner {
	background: url("../image/new_goods3.jpg") no-repeat center center;
	height: 288px;
	background-size: cover;
}

.goods_newlist .goods_list .box4 .inner {
	background: url("../image/new_goods4.jpg") no-repeat center center;
	height: 288px;
	background-size: cover;
}

.goods_newlist .goods_list .box5 .inner {
	background: url("../image/new_goods5.jpg") no-repeat center center;
	height: 288px;
	background-size: cover;
}

.goods_newlist .goods_list .box6 .inner {
	background: url("../image/new_goods6.jpg") no-repeat center center;
	height: 288px;
	background-size: cover;
}

.goods_newlist .goods_list .box7 .inner {
	background: url("../image/new_goods7.jpg") no-repeat center center;
	height: 288px;
	background-size: cover;
}

.goods_newlist .goods_list .box8 .inner {
	background: url("../image/new_goods8.jpg") no-repeat center center;
	height: 288px;
	background-size: cover;
}

/* 신제품 영역 E */
/* 메인 미니 배너 영역 S */

.main_mini_banner {
	width: 100%;
	height: 190px;
	background-color: rgba(18,42,78,0.1);
	margin-bottom: 100px;
}

.main_mini_banner > .wrap {
	margin: 0 auto;
	padding: 40px 0 55px;
}

.main_mini_banner > .wrap .text1 {
	color: #555555;
	font-weight: 700;
	font-size: 2.14rem;
	line-height: 5rem;
	width: 100%;
	padding: 0 40px;
}

.main_mini_banner > .wrap .text2 {
	color: #555555;
	font-size: 1.357rem;
	line-height: 1.785rem;
	width: 100%;
	padding: 0 59px;
}
/* 메인 미니 배너 영역 E */

/* 베스트 아이템 영역 S */
.best_item .title {
	line-height: 1;
	text-align: left;
	margin: 0 auto 25px;
}
.best_item .title .text1 {
	font-size: 2.857rem;
	font-weight: 600;
	margin: 0 0 12px 8px;
	color: #000000;
	letter-spacing: -1px;
}

.best_item .title .text2 {
	font-size: 1.357rem;
	color: #808080;
	line-height: 200%;
	margin: 0 0 10px 8px;
}

.best_item .best_category {
	margin: 40px 0 35px;
}

.best_item .best_category ul {
	text-align: center;
}

.best_item .best_category ul li {
	display: inline-block;
	line-height: 2.714rem;
	background-color: #ffffff;
	font-size: 1.214rem;
	color: #777777;
	border: 1px solid #dddddd;
	border-radius: 40px;
	padding: 5px 30px;
	margin: 2px 7px 6px 7px;
	text-align: center;
	cursor: pointer;
}

.best_item .best_category ul li:hover {
	background-color: #777777;
	color: #ffffff;
	transition: all 0.3s ease-in-out;
}

.best_item .best_category ul li:first-child {
	background-color: #1e1a34;
	border: 1px solid #1e1a34;
	color: #ffffff;
}

.best_item .goods_list .box1 .inner {
	background:url("../image/best_goods1.jpg");
	height: 288px;
	background-size: cover;
}

.best_item .goods_list .box2 .inner {
	background:url("../image/best_goods2.jpg");
	height: 288px;
	background-size: cover;
}

.best_item .goods_list .box3 .inner {
	background:url("../image/best_goods3.jpg");
	height: 288px;
	background-size: cover;
}

.best_item .goods_list .box4 .inner {
	background:url("../image/best_goods4.jpg");
	height: 288px;
	background-size: cover;
}

.goods_list .box .photo .inner:hover {
	transform: scale(1.1);
	transition: all 1.5s;
}

.goods_list .box .photo {
	overflow: hidden;
}
/* 베스트 아이템 영역 E */

/* 이벤트 영역 S */

.event_banner {
	padding-left: 10px;
}

.goods_list .event_wrap {
	margin-bottom: 100px;
}
/* 이벤트 영역 E */
/* MD 추천 영역 S */
.goods_list .md_big a img {
	height: 590px;
}

.goods_list .md_small a img {
	height: 290px;
}
.goods_list .md_big {
	float: left;
	display: block;
	width: 590px;	
}

.goods_list .md_small {
	float: right;
	width: calc(100% - 590px);
}

.goods_list .md_wrap:after {
	clear: both;
	display: block;
	content: '';
}

.goods_list .md_small a {
	display: inline-block;
	padding: 0 0 5px 10px;
}

.goods_list .md_small .inner:hover {
	transform: scale(1.1);
	transition: all 1s;
}

.goods_list .md_small .photo {
	overflow: hidden;
}

.goods_list .md_wrap {
	margin-bottom: 150px;
}
/* MD 추천 영역 E */
/* 인스타그램 롤링 배너 영역 S */
.instagram_wrap {
	text-align: left;
}
.instagram .title {
	font-size: 2.857rem;
	letter-spacing: -1px;
}

.instagram .id {
	font-size: 1.571rem;
	color: #808080;
	padding-left: 15px;
}

.instagram_banner {
	height: 195px;
	border: 2px solid blue;
	margin-top: 60px;
}

.instagram .more {
	padding-top: 70px;
	font-size: 1.142rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 150px;
}
/* 인스타그램 롤링 배너 영역 E */
/* footer menu 영역 S */

footer .footer_wrap {
	background-color: #333333;
	height: 70px;
}

footer .footer_menu {
	position: relative;
}

.footer_wrap .box1 li {
	display: inline-block;
}

.footer_wrap .box1 li a {
	color: #dddddd;
	line-height: 70px;
	font-size: 1.214rem;
	margin: 0 25px;
}

.footer_wrap .box1 ul .bar {
	color: #dddddd;
	line-height: 70px;
	font-size: 1.214rem;
}

.footer_wrap .box2 {
	position: absolute;
	right: 0;
	top: 18px;
}

.footer_wrap .box2 img {
	height: 39px;
}


/* footer menu 영역 E */