/* 상품 정보 영역 S */
.goods_page .goods_info .banner img {
	width: 100%;
}

.goods_page .goods_info .swiper-pagination-bullet {
	background-color: #ffffff;
	width: 7px;
	height: 7px;
	opacity: 1;
	box-shadow: 2px 2px 4px #666666;
}

.goods_page .goods_info .swiper-container {
	padding-bottom: 50px;
}

.goods_page .goods_info .swiper-pagination-bullet-active {
	background-color: #525252;
}

.goods_option_info .goodsnm {
	font-size: 1.538rem;
	margin: 10px 0 20px;
	text-align: center;
	font-weight: 700;
	letter-spacing: -0.5px;
}

.goods_option_info .optios {
	padding: 10px;
}

.goods_option_info dt {
	display: inline-block;
	margin: 0;
	width: calc(45% - 5px);
	color: #353535;
}

.goods_option_info dd {
	display: inline-block;
	margin: 0;
	text-align: right;
	width: calc(55% - 5px);
}

.goods_info .goods_option_info dd select {
	width: 230px;
	height: 35px;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
}

.goods_option_info dd input[type="text"] {
	height: 35px;
	text-align: center;
	border: 0;
	border-bottom: 1px solid #000000;
	width: 230px;
}

@media all and (max-width: 450px) {
	.goods_option_info dd select, .goods_option_info dd input[type="text"] {
		width: 200px;
	}
}
@media all and (max-width: 400px) {
	.goods_option_info dt {
		width: calc(40% - 5px);
	}
}

.goods_option_info .option_select_btn {
	width: 240px;
	height: 36px;
	background-color: #333333;
	text-align: center;
	margin: 0 auto 10px;
	color: #ffffff;
	border-radius: 20px;
	line-height: 36px;
}

/* 상품 정보 영역 E */



/* 구매 버튼 영역 S */
.goods_page .buy_btns {
	margin: 20px 10px 40px;
}

.goods_page .buy_btns .btn {
	float: left;
	width: calc(100% / 3 - 4px);
	text-align: center;
	border: 1px solid #000000;
	height: 50px;
	line-height: 48px;
	font-size: 1.08rem;
	color: #231f20;
	margin-left: 4px;
}

.goods_page .buy_btns:after {
	clear: left;
	display: block;
	content: '';
}

.goods_page .buy_btns .btn:first-child {
	background-color: #231f20;
	color: #ffffff;
	margin-left: 0;
}
/* 구매 버튼 영역 E */

/* 상품 상세, 후기, 문의 영역 S */
.goods_description .tab_wrap {
	display: table;
	width: 100%;
	margin-bottom: 35px;
}

.goods_description .tab_wrap li {
	display: table-cell;
	vertical-align: middle;
	width: calc(100% / 3);
	text-align: center;
	border-bottom: 1px solid #999999;
	height: 33px;
	color: #999999;
}

.goods_description .tab_wrap li.on {
	border: 1px solid #999999;
	border-bottom: 1px solid #ffffff;
}

.goods_description .tab_wrap .on:first-child {
	border-left: 0;
}

.goods_description .tab_wrap .on:last-child {
	border-right: 0;
}

.goods_description .content1 img {
	width: 100%;
}
/* 상품 상세, 후기, 문의 영역 E */