/* 로그인 상단 영역 S */
.login_page .page_nav {
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.login_page .page_nav a {
	font-size: 1.08rem;
	color: #999999;
	line-height: 1;
}

.login_page .page_nav a:last-child {
	color: #222222;
	font-weight: 500;
}

.login_page .page_title {
	font-weight: 500;
	color: black;
	font-size: 2.3rem;
	text-align: center;
	letter-spacing: 0.9px;
	margin-bottom: 60px;
	line-height: 1;
}

.login_page .page_title .icon{
	display:block;
	margin: 0 auto 20px auto;
}
/* 로그인 상단 영역 E */

/* 로그인 하단 영역 S */
.login_page .login_wrap {
	width: 1000px;
	margin: 0 auto 200px;
}

.login_page .login_wrap > .box{
	float: left;
	width: 50%;
	height: 600px;
}

.login_page .login_wrap:after {
	clear: left;
	display: block;
	content: '';
}

.login_page .login_wrap > .box2 {
	background-color: #f8f8f8;
	padding: 30px 40px;
	position: relative;
}
.login_page .tab_wrap {
	border-bottom: 1px solid #dddddd;
	margin-bottom: 45px;
}

.login_page .tab_wrap li {
	display: inline-block;
	font-size: 1.23rem;
	color: #999999;
	font-weight: 500;
	line-height: 1;
	padding: 13px 0;
	margin-raight: 30px;
}

.login_page .tab_wrap li.on {
	color: #000000;
	position: relative;
}

.login_page .tab_wrap li.on:after {
	display: block;
	width: 100%;
	height: 4px;
	background-color: #000000;
	content: '';
	position: absolute;
	bottom: -2px;
}

.login_page .login_form input[type="text"], .login_page .login_form input[type="password"] {
	display: block;
	font-size: 1.08rem;
	height: 47px;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	color: #999999;
	padding: 0 18px;
}

.login_page .login_form input[type="text"] {
	margin-bottom: 3px;
}

.login_page .login_form .login_btn {
	font-size: 1.538rem;
	display: block;
	width: 100%;
	height: 48px;
	border: 0;
	background-color: #000000;
	color: #ffffff;
	cursor: pointer;	
}
.login_page .login_form input[type="checkbox"] {
	display: none;
}
.login_page .login_form input[type="checkbox"]+label {
	display: inline-block;
	height: 20px;
	background:url("../image/checked.png") no-repeat left center;
	padding-left: 30px;
}

.login_page .login_form input[type="checkbox"]:checked+label {
	background:url("../image/checked_on.png") no-repeat left center;
}

.login_page .login_form .control {
	margin: 20px 0;
}

.login_page .control_link {
	margin: 20px 0 27px 0;
}

.login_page .control_link .box1 {
	float: left;
	font-size: 1.08rem;
	color: #999999;
	letter-spacing: -0.28px;
}

.login_page .control_link .box1 a {
	font-size: 1.08rem;
	color: #999999;
	letter-spacing: -0.28px;
}

.login_page .control_link .box1 a:hover{
	text-decoration: underline;
}

.login_page .control_link .box2 {
	float: right;
	text-align: right;
}

.login_page .control_link .box2 {
	font-size: 1.08rem;
	color: #222222;
	letter-spacing: -0.84 px;
}


.login_page .control_link .box2 a:hover {
	text-decoration: underline;
}

.login_page .control_link:after {
	clear: both;
	display: block;
	content: '';
}

/* sns_login 영역 S */

.login_page .sns_login {
	display: table;
	position: absolute;
	bottom: 0;
	border-top: 2px solid #eaeaea;
	padding-top: 23px;
	width: calc(100% - 80px);
}

.login_page .sns_login .box {
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 5px;
}

.login_page .sns_login .box1 {
	font-size: 1.23rem;
	color: #222222;
	padding-right: 25px;
}

.login_page .sns_login .box2 a {
	margin-right: 15px;
}

.login_page .sns_login .box2 a:first-child {
	
}

/* sns_login 영역 E */

/* 로그인 하단 영역 E */